{% extends "base.html" %}
{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='libs/socket.io-1.3.6.min.js') }}"></script>
    <script>
            function getWsJSON() {
                    return [{
                    }];
            }
            var change = false;
            var mode = 'manual';

            var manualTimeout;
            var pump = [];
            var curFlowIn;
            var curFlowOut;
            var trgFlow;
            var curLevel = [];
            var minLevel = [];
            var trgLevel = [];
            var maxLevel = [];
            var panic;
            var lastStat = null;
            var currentStat;
            var depth = [100, 150, 200];
            var maxDepth = 0;
            for (var i=0;i<3;i++) maxDepth = Math.max(maxDepth, depth[i]);

            function updateInterface() {
				// update status variables
                curFlowIn = currentStat.currentFlow[0];
                document.getElementById('curFlowIn').innerHTML = curFlowIn;
                curFlowOut = currentStat.currentFlow[1];
                document.getElementById('curFlowOut').innerHTML = curFlowOut;
                curLevel = currentStat.currentLevel;
                for (var i=0;i<3;i++) {
                    document.getElementById('curLevel' + i).innerHTML = curLevel[i];
                    document.getElementById('bassin' + i).setAttribute("y", depth[i] - curLevel[i]);
                    document.getElementById('bassin' + i).setAttribute("height", curLevel[i]);
				}
                for (var i=0;i<4;i++) {
                    document.getElementById('pump' + i + 'value').innerHTML = Math.round(100*currentStat.pump[i]/255.0);
                }
				
				if (currentStat.panic && !panic) alert('Er is een storing in het systeem, alle pompen worden uitgeschakeld.');
				panic = currentStat.panic;
				document.getElementById('panicIndicator').style.display = panic ? 'inline-block' : 'none';
				
{% if commands_allowed %}
				// check difference between currentStat, lastStat and interface

                skipConf = false;
                if (lastStat /* TODO: && lastStat != currentStat */) {
                    if (mode=='manual' && !currentStat.manualTimeout) conflict+= 'Het regelwerk is overgeschakeld naar automatische modus omdat de timeout is verlopen of omdat iemand anders de handbediening heeft uitgeschakeld.<br/>';

                    newConf = false;
                    conflict = '';
                    if (document.getElementById('trgFlow').value!=currentStat.targetFlow) newConf = true;
                    for (var i=0;i<3;i++) if (document.getElementById('trgLevel' + i).value!=trgLevel[i]) newConf = true;
                    if (newConf) {
                        conflict+= 'Eén of meerdere configuratie-instellingen zijn veranderd:<br/>';
                        conflict+= 'debiet: nu ' + currentStat.targetFlow + ', was ' + lastStat.targetFlow + ', doel ' + document.getElementById('trgFlow').value + 'm³/u';
                        for (var i=0;i<3;i++) conflict+= 'niveau ' + i + ': nu ' + currentStat.targetLevel[i] + ', was ' + lastStat.targetLevel[i] + ', doel ' + document.getElementById('trgLevel' + i).value + 'cm';
                    }
                    if (conflict)
                        skipConf = !confirm('Wil je de nieuwe instellingen overnemen?');
                }

                if (!skipConf) {
						// update manual override indicators
						manualTimeout = currentStat.manualTimeout;
						mode = manualTimeout ? 'manual' : 'automatic';
						if(mode=='manual') {
							document.getElementById('manualCheckbox').checked = true;
							setManual();
						}
						else {
							document.getElementById('manualCheckbox').checked = false;
							setAutomatic();
						}
						document.getElementById('manual').style.visibility = mode=='manual' ? 'visible' : 'hidden';
						document.getElementById('manualTimeout').value = manualTimeout;

						// update pump indicators
						pump = currentStat.pump;
						for (var i=0;i<4;i++) {
							document.getElementById('pump' + i + 'input').value = pump[i];
/*??*/							document.getElementById('pumpSymbol'+i).style.fill = pump[i] ? 'lime' : 'red';
						}

						// update flow indicators
						trgFlow = currentStat.targetFlow;
						document.getElementById('trgFlow').value = trgFlow;

						// update level indicators
						trgLevel = currentStat.targetLevel;
						minLevel = currentStat.minLevel;
						maxLevel = currentStat.maxLevel;
						for (var i=0;i<3;i++) {
							document.getElementById('trgLevel' + i).value = trgLevel[i];
							document.getElementById('trgLevelLine' + i).setAttribute("y1", depth[i] - trgLevel[i]);
							document.getElementById('trgLevelLine' + i).setAttribute("y2", depth[i] - trgLevel[i]);
							document.getElementById('minLevel' + i).value = minLevel[i];
							document.getElementById('minLevel' + i).setAttribute("max", maxLevel[i]);
							document.getElementById('minLevelLine' + i).setAttribute("y1", depth[i] - minLevel[i]);
							document.getElementById('minLevelLine' + i).setAttribute("y2", depth[i] - minLevel[i]);
							document.getElementById('maxLevel' + i).value = maxLevel[i];
							document.getElementById('maxLevel' + i).setAttribute("min", minLevel[i]);
							document.getElementById('maxLevelLine' + i).setAttribute("y1", depth[i] - maxLevel[i]);
							document.getElementById('maxLevelLine' + i).setAttribute("y2", depth[i] - maxLevel[i]);
						}
				}

{% else %}
				// update flow indicators
				trgFlow = currentStat.targetFlow;
				document.getElementById('trgFlow').innerHTML = trgFlow;

				// update level indicators
				trgLevel = currentStat.targetLevel;
				minLevel = currentStat.minLevel;
				maxLevel = currentStat.maxLevel;
				for (var i=0;i<3;i++) {
					document.getElementById('trgLevel' + i).innerHTML = trgLevel[i];
					document.getElementById('trgLevelLine' + i).setAttribute("y1", depth[i] - trgLevel[i]);
					document.getElementById('trgLevelLine' + i).setAttribute("y2", depth[i] - trgLevel[i]);
					document.getElementById('minLevel' + i).innerHTML = minLevel[i];
					document.getElementById('minLevel' + i).setAttribute("max", maxLevel[i]);
					document.getElementById('minLevelLine' + i).setAttribute("y1", depth[i] - minLevel[i]);
					document.getElementById('minLevelLine' + i).setAttribute("y2", depth[i] - minLevel[i]);
					document.getElementById('maxLevel' + i).innerHTML = maxLevel[i];
					document.getElementById('maxLevel' + i).setAttribute("min", minLevel[i]);
					document.getElementById('maxLevelLine' + i).setAttribute("y1", depth[i] - maxLevel[i]);
					document.getElementById('maxLevelLine' + i).setAttribute("y2", depth[i] - maxLevel[i]);
				}

{% endif %}
            };

            {% if commands_allowed %}
            function setChanged() {
                if (!change) {
                    change = true;
                    document.getElementById('save').style.visibility = 'visible';
                }
            }
            function setManual() {
				mode = 'manual';
				for (var i=0;i<4;i++) document.getElementById('pump' + i + 'input').style.display = 'inline-block';
				document.getElementById('manual').style.visibility = mode=='manual' ? 'visible' : 'hidden';
				document.getElementById('manualTimeout').value = 60;
                                manualTimeout = 60;
				setChanged();
			}
			function setAutomatic() {
				mode = 'automatic';
				for (var i=0;i<4;i++) document.getElementById('pump' + i + 'input').style.display = 'none';
			}
            function toggleManual() {
				if(document.getElementById('manualCheckbox').checked) {
					if(confirm('Wil je de pompen handmatig instellen?')) setManual();
					else document.getElementById('manualCheckbox').checked = false;
				}
				else {
					alert('automatic');
					setAutomatic();
                }
			}
			
            function saveSettings() {
                var cmdJSON = {
                    "battery": "{{id}}",
                    "manualTimeout": mode=='manual' ? manualTimeout : 0,
                    "pump": pump,
                    "targetFlow": trgFlow,
                    "targetLevel": trgLevel,
                    "minLevel": minLevel,
                    "maxLevel": maxLevel
                };
                console.log(cmdJSON);
                socket.emit('command', cmdJSON);
                alert('Instellingen naar bassins verstuurd...');
                document.getElementById('save').style.visibility = 'hidden';
                change = false;
            }

            function setTrgFlow(value) {
                trgFlow = parseInt(value);
                setChanged();
            }

            function setTrgLevel(i, value) {
                trgLevel[i] = parseInt(value);
                document.getElementById('trgLevelLine' + i).setAttribute("y1", depth[i] - value);
                document.getElementById('trgLevelLine' + i).setAttribute("y2", depth[i] - value);
                setChanged();
            }

            function setMinLevel(i, value) {
                minLevel[i] = parseInt(value);
                document.getElementById('minLevelLine' + i).setAttribute("y1", depth[i] - value);
                document.getElementById('minLevelLine' + i).setAttribute("y2", depth[i] - value);
                if (trgLevel[i] < parseInt(value)) {
                    trgLevel[i] = parseInt(value);
                    document.getElementById('trgLevel' + i).value = trgLevel[i];
                    document.getElementById('trgLevelLine' + i).setAttribute("y1", depth[i] - value);
                    document.getElementById('trgLevelLine' + i).setAttribute("y2", depth[i] - value);
                }
                document.getElementById('trgLevel' + i).setAttribute("min", value);
                document.getElementById('maxLevel' + i).setAttribute("min", value);
                setChanged();
            }

            function setMaxLevel(i, value) {
                maxLevel[i] = parseInt(value);
                document.getElementById('maxLevelLine' + i).setAttribute("y1", depth[i] - value);
                document.getElementById('maxLevelLine' + i).setAttribute("y2", depth[i] - value);
                if (trgLevel[i] > parseInt(value)) {
                    trgLevel[i] = parseInt(value);
                    document.getElementById('trgLevel' + i).value = trgLevel[i];
                    document.getElementById('trgLevelLine' + i).setAttribute("y1", depth[i] - value);
                    document.getElementById('trgLevelLine' + i).setAttribute("y2", depth[i] - value);
                }
                document.getElementById('trgLevel' + i).setAttribute("max", value);
                document.getElementById('minLevel' + i).setAttribute("max", value);
                setChanged();
            }

            function setPump(i, value) {
                pump[i] = parseInt(value);
				document.getElementById('pump' + i + 'value').innerHTML = Math.round(100*pump[i]/255.0);
                setChanged();
            }

            function setManualTimeout(value) {
                manualTimeout = parseInt(value);
                setChanged();
            }
            {% endif %}

            function init() {
                for (var i=0;i<3;i++) document.getElementById('bassin'+i).setAttribute("y", depth[i]);
                document.getElementById('floor').setAttribute('d', 'M 0,0 l 0,100 100,0 0,-100, 50,0 0,' + depth[0] + ' 400,0 0,-' + depth[0] + ' 50,0 0,' + depth[1] + ' 400,0 0,-' + depth[1] + ' 50,0 0,' + depth[2] + ' 400,0 0,-' + depth[2] + ' 50,0 0,100 100,0 0,-100');
                for (var i=0;i<4;i++) document.getElementById('pumpSymbol' + i).setAttribute('cy', maxDepth + 25);
                document.getElementById('pipe0').setAttribute('d', 'M 80,100 80,' + (maxDepth+20) + ' 170,' + (maxDepth+20) + ' 170,' + depth[0] + ' 180,' + depth[0] + ' 180,' + (maxDepth+30) + ' 70,' + (maxDepth+30) + ' 70,100');
                document.getElementById('pipe1').setAttribute('d', 'M 530,' + depth[0] + ' 530,' + (maxDepth+20) + ' 620,' + (maxDepth+20) + ' 620,' + depth[1] + ' 630,' + depth[1] + ' 630,' + (maxDepth+30) + ' 520,' + (maxDepth+30) + ' 520,' + depth[0] + '');
                document.getElementById('pipe2').setAttribute('d', 'M 980,' + depth[1] + ' 980,' + (maxDepth+20) + ' 1070,' + (maxDepth+20) + ' 1070,' + depth[2] + ' 1080,' + depth[2] + ' 1080,' + (maxDepth+30) + ' 970,' + (maxDepth+30) + ' 970,' + depth[1] + '');
                document.getElementById('pipe3').setAttribute('d', 'M 1430,' + depth[2] + ' 1430,' + (maxDepth+20) + ' 1520,' + (maxDepth+20) + ' 1520,100 1530,100 1530,' + (maxDepth+30) + ' 1420,' + (maxDepth+30) + ' 1420,' + depth[2] + '');

                document.getElementById('save').style.visibility = 'hidden';
                document.getElementById('manual').style.visibility = 'hidden';
                change = false;
            }
            function reset() {
                updateInterface(currentStat);
            }
        </script>
        <script>
            var socket;
            $(function() {
                socket = io();
                socket.on('connect', function() {
                    socket.emit('select_battery', {battery: {{ id|tojson }}});
                });
                socket.on('status', function(msg) {
                    $('#output').append(JSON.stringify(msg) + '\n');
                    // TODO: if ignoring msg because of change and
                    // config received is different from currentStat,
                    // show a warning?
                    // Deepcopy the object, otherwise updateInterface
                    // keeps references to its contained arrays and will
                    // change them.
                    lastStat = currentStat;
                    currentStat = jQuery.extend(true, {}, msg);
                    //~ if (!change)
                        //~ updateInterface(msg);
                    updateInterface();
                });
                socket.on('message', function(msg) {
                    $('#output').append(JSON.stringify(msg) + '\n');
                });
                init();
            });
        </script>
{% endblock %}

{% block main %}

{% if id %}
		<h2>Batterij {{id}} | <input type="checkbox" id="manualCheckbox" onclick="toggleManual();"/> handbediening | <span id="panicIndicator">storing</span></h2>
        <svg id="bassins" width="800" height="200" viewBox="0 0 1700 300" version="1.1" >
            <g transform="translate(50,0)">
                <text x="50" y="0" font-size="36" fill="black" style="text-anchor:middle;">aanvoer</text>
                <text x="350" y="0" font-size="36" fill="black" style="text-anchor:middle;">bassin {{id}}.1</text>
                <text x="800" y="0" font-size="36" fill="black" style="text-anchor:middle;">bassin {{id}}.2</text>
                <text x="1250" y="0" font-size="36" fill="black" style="text-anchor:middle;">bassin {{id}}.3</text>
                <text x="1550" y="0" font-size="36" fill="black" style="text-anchor:middle;">afvoer</text>
            </g>
            <g transform="translate(50,50)">
                <rect id="inlet" x="0" y="50" width="100" height="50" fill="#00ffff" />
                <rect id="outlet" x="1500" y="50" width="100" height="50" fill="#00ffff" />
                <rect id="bassin0" x="150" y="0" width="400" height="0" fill="#00ffff" />
                <rect id="bassin1" x="600" y="0" width="400" height="0" fill="#00ffff" />
                <rect id="bassin2" x="1050" y="0" width="400" height="0" fill="#00ffff" />
                <line id="minLevelLine0" x1="150" y1="0" x2="550" y2="0" stroke-width="6px" stroke="#ff0000" />
                <line id="maxLevelLine0" x1="150" y1="0" x2="550" y2="0" stroke-width="6px" stroke="#ff0000" />
                <line id="trgLevelLine0" x1="150" y1="0" x2="550" y2="0" stroke-width="6px" stroke="#00cf00" />
                <line id="minLevelLine1" x1="600" y1="0" x2="1000" y2="0" stroke-width="6px" stroke="#ff0000" />
                <line id="maxLevelLine1" x1="600" y1="0" x2="1000" y2="0" stroke-width="6px" stroke="#ff0000" />
                <line id="trgLevelLine1" x1="600" y1="0" x2="1000" y2="0" stroke-width="6px" stroke="#00cf00" />
                <line id="minLevelLine2" x1="1050" y1="0" x2="1450" y2="0" stroke-width="6px" stroke="#ff0000" />
                <line id="maxLevelLine2" x1="1050" y1="0" x2="1450" y2="0" stroke-width="6px" stroke="#ff0000" />
                <line id="trgLevelLine2" x1="1050" y1="0" x2="1450" y2="0" stroke-width="6px" stroke="#00cf00" />
                <path id="floor" style="fill:none;stroke:#000000;stroke-width:2px;" />
                <path id="pipe0" style="fill:#00ffff;stroke:#000000;stroke-width:2px;" />
                <path id="pipe1" style="fill:#00ffff;stroke:#000000;stroke-width:2px;" />
                <path id="pipe2" style="fill:#00ffff;stroke:#000000;stroke-width:2px;" />
                <path id="pipe3" style="fill:#00ffff;stroke:#000000;stroke-width:2px;" />
                <circle id="pumpSymbol0" cx="125" cy="0" r="25" style="fill:grey;stroke:#000000;stroke-width:2px;" />
                <circle id="pumpSymbol1" cx="575" cy="0" r="25" style="fill:grey;stroke:#000000;stroke-width:2px;" />
                <circle id="pumpSymbol2" cx="1025" cy="0" r="25" style="fill:grey;stroke:#000000;stroke-width:2px;" />
                <circle id="pumpSymbol3" cx="1475" cy="0" r="25" style="fill:grey;stroke:#000000;stroke-width:2px;" />
            </g>
        </svg>
        <div style="position: relative; height: 50px">
			<div id="pumpLegend0">pomp 1: <span id="pump0value"></span>%<br/><input type="range" id="pump0input" min="0" max="255" style="width:100px; display:none;" oninput="setPump(0, this.value);" /></div>
			<div id="pumpLegend1">pomp 2: <span id="pump1value"></span>%<br/><input type="range" id="pump1input" min="0" max="255" style="width:100px; display:none;" oninput="setPump(1, this.value);" /></div>
			<div id="pumpLegend2">pomp 3: <span id="pump2value"></span>%<br/><input type="range" id="pump2input" min="0" max="255" style="width:100px; display:none;" oninput="setPump(2, this.value);" /></div>
			<div id="pumpLegend3">pomp 4: <span id="pump3value"></span>%<br/><input type="range" id="pump3input" min="0" max="255" style="width:100px; display:none;" oninput="setPump(3, this.value);" /></div>
        </div>
        <table>
            <tr>
                <td style="border:none;"></td>
                <th>actueel</th>
                <th>doel</th>
                <th>minimum</th>
                <th>maximum</th>
            </tr>
            <tr style="height:2em;">
                <td>debiet in {{ id }} (m³/u)</td>
                <td id="curFlowIn"></td>
            </tr>
            <tr style="height:2em;">
                <td>niveau {{id}}.1 (cm)</td>
                <td id="curLevel0"></td>
{% if commands_allowed %}
                <td><input type="number" id="trgLevel0" value="" min="0" max="" style="width:100px; margin-left:0px;" oninput="setTrgLevel(0, this.value);" /></td>
                <td><input type="number" id="minLevel0" value="" style="width:100px; margin-left:0px;" oninput="setMinLevel(0, this.value);" /></td>
                <td><input type="number" id="maxLevel0" value="" style="width:100px; margin-left:0px;" oninput="setMaxLevel(0, this.value);" /></td>
{% else %}
                <td id="trgLevel0"></td>
                <td id="minLevel0"></td>
                <td id="maxLevel0"></td>
{% endif %}
            </tr>
            <tr style="height:2em;">
                <td>niveau {{id}}.2 (cm)</td>
                <td id="curLevel1"></td>
{% if commands_allowed %}
                <td><input type="number" id="trgLevel1" value="" min="0" max="" style="width:100px; margin-left:0px;" oninput="setTrgLevel(1, this.value);" /></td>
                <td><input type="number" id="minLevel1" value="" style="width:100px; margin-left:0px;" oninput="setMinLevel(1, this.value);" /></td>
                <td><input type="number" id="maxLevel1" value="" style="width:100px; margin-left:0px;" oninput="setMaxLevel(1, this.value);" /></td>
{% else %}
                <td id="trgLevel1"></td>
                <td id="minLevel1"></td>
                <td id="maxLevel1"></td>
{% endif %}
            </tr>
            <tr style="height:2em;">
                <td>niveau {{ id }}.3 (cm)</td>
                <td id="curLevel2"></td>
{% if commands_allowed %}
                <td><input type="number" id="trgLevel2" value="" min="0" max="" style="width:100px; margin-left:0px;" oninput="setTrgLevel(2, this.value);" /></td>
                <td><input type="number" id="minLevel2" value="" style="width:100px; margin-left:0px;" oninput="setMinLevel(2, this.value);" /></td>
                <td><input type="number" id="maxLevel2" value="" style="width:100px; margin-left:0px;" oninput="setMaxLevel(2, this.value);" /></td>
{% else %}
                <td id="trgLevel2"></td>
                <td id="minLevel2"></td>
                <td id="maxLevel2"></td>
{% endif %}
            </tr>
            <tr style="height:2em;">
                <td>debiet uit {{ id }} (m³/u)</td>
                <td id="curFlowOut"></td>
{% if commands_allowed %}
                <td><input type="number" id="trgFlow" value="" min="0" max="80" style="width:100px; margin-left:0px;" oninput="setTrgFlow(this.value);" /></td>
{% else %}
                <td id="trgFlow"></td>
{% endif %}
            </tr>
        </table>
        <br/>
        <div id="manual" style="height:2em;">Handbediening gaat weer uit over <input type="number" id="manualTimeout" style="width:60px" value="60" min="5" max="240" onchange="setManualTimeout(this.value);"/> minuten</div>
        <div id="save">Wijzigingen <input type="button" style="color:red;" value="annuleren" onclick="reset();" /><input type="button" style="color:red;" value="doorvoeren" onclick="saveSettings();" /></div>
{% else %}
	<h2>Kies batterij</h2>
	<ul>
		<li><a href="?id=lankheet-1">Batterij 1: digestaatproef</a></li>
		<li><a href="?id=lankheet-2">Batterij 2: doorstroomproef</a></li>
	</ul>
{% endif %}


    <pre id="output"></pre>
{% endblock %}
