{% extends "base.html" %}
{% block head %}
    <style type="text/css">
      pre {background-color:rgba(0,0,0,0.2); padding:10px;}
    </style>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
{% endblock %}
{% block body %}
    <script>
    $(function() {
	var socket = io();
	$('form').submit(function() {
	    socket.emit('message', JSON.parse($('#m').val()));
	    return false;
	});
	socket.on('status', function(msg) {
	    $('#output').append(JSON.stringify(msg) + '\n');
	});
	socket.on('message', function(msg) {
	    $('#output').append(JSON.stringify(msg) + '\n');
	});
    });
    </script>

    <pre id="output"></pre>

    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
{% endblock %}
