# This should contain a random and secret string
SECRET_KEY=''
# Access key from TTN
TTN_ACCESS_KEY=''
# Put e-mail addresses here to have errors sent
ERRORS_TO=[]
ERRORS_FROM='noreply@kroos.co',

# Enable these to use mysql, otherwise sqlite3 will be used
#MYSQL_HOST='localhost'
#MYSQL_USERNAME=''
#MYSQL_PASSWORD=''
#MYSQL_DB=''

# vim: set sw=4 sts=4 expandtab:
