# This should contain a random and secret string
SECRET_KEY=''
# Access key from TTN
TTN_ACCESS_KEY=''
# Put e-mail addresses here to have errors sent
ERRORS_TO=[]
ERRORS_FROM='noreply@kroos.co'

# Enable these to use mysql, otherwise sqlite3 will be used
#MYSQL_HOST='localhost'
#MYSQL_USERNAME=''
#MYSQL_PASSWORD=''
#MYSQL_DB=''

# This assumes there is a mailserver running on localhost that
# accepts an email on port 25. If this is not the case, you can
# configure an external SMTP server here, which likely needs TLS and/or
# authentication. See https://pythonhosted.org/Flask-Mail/
MAIL_SERVER='localhost'
#MAIL_PORT=25
#MAIL_USE_TLS=True
#MAIL_USERNAME=username
#MAIL_PASSWORD=password
MAIL_DEFAULT_SENDER='"Lankheet Krooscockpit" <noreply@kroos.co>'


# vim: set sw=4 sts=4 expandtab:
